<h1 style="text-align: center;">Filtros</h1>
<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <div class="container">
    <div class="filter-box">
      <div class="filter-label">Região</div>
      <input type="text" class="filter-input" id="regiao" name="regiao" [(ngModel)]="regiao">
    </div>
    <div class="filter-box">
      <div class="filter-label">Espécie</div>
      <input type="text" class="filter-input" id="specieNome" name="specieNome" [(ngModel)]="specieNome">
    </div>
    <div class="filter-box">
      <div class="filter-label">Estado de Conservação</div>
      <input type="text" class="filter-input" id="specieStatus" name="specieStatus" [(ngModel)]="specieStatus">
    </div>
    <div class="filter-box">
      <div class="filter-label">Temperatura da Água</div>
      <input type="text" class="filter-input" id="aguaTemp" name="aguaTemp" [(ngModel)]="aguaTemp">
    </div>
    <div class="filter-box">
      <div class="filter-label">PH</div>
      <input type="text" class="filter-input" id="ph" name="ph" [(ngModel)]="ph">
    </div>
    <div class="filter-box">
      <div class="filter-label">Níveis de Poluição</div>
      <input type="text" class="filter-input" id="lvPoluicao" name="lvPoluicao" [(ngModel)]="lvPoluicao">
    </div>
  </div>
  <div class="search-button">
    <button type="submit">Pesquisar</button>
  </div>
</form>


<h2 style="text-align: center;">Tabela de dados</h2>
<div class="container">
  <table style="width: 100%; border: solid 1px #000;">
    <thead style="background-color: rgb(12, 155, 19); color: rgb(96, 255, 234);">
      <tr style="text-align: center;">
        <th style="width: 25%;">Região</th>
        <th style="width: 25%;">Temperatura da água</th>
        <th style="width: 25%;">PH</th>
        <th style="width: 25%;">Nível da poluição</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="jsonFile != null">
        <ng-container *ngFor="let json of jsonFile">
          <tr style="text-align: center; background-color: rgb(100, 243, 236);">
            <td style="width: 25%;">{{ json.regiao }}</td>
            <td colspan="1" style="width: 25%;">{{ json.temperaturaAgua }}</td>
            <td colspan="1" style="width: 25%;">{{ json.pH }}</td>
            <td style="width: 25%;">{{ json.nivelPoluicao }}</td>
          </tr>
          <tr *ngFor="let especie of json.especies" style="text-align: center;">
            <td colspan="2" style="width: 50%;">Nome da espécie: {{ especie.nome }}</td>
            <td colspan="2" style="width: 50%;">Status de Conservação: {{ especie.status }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
